.headers{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.headers h1{
    color: honeydew;
    padding-left: 20px;
}
.serv-home{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 10px;
    border-radius: 10px;

}
.serv-home .service{
    background-color: rgb(129, 176, 238);
    margin: 10px;
    padding: 10px;
    border-radius:10px;
    color: rgb(255, 255, 255);
}
@media only screen and (min-width:780px){
    .headers span{
        font-size: 60px;
    }
    .serv-home{
        grid-template-columns: repeat(3,1fr);
    }
    
}